// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Primary colors:
$dark-sky-blue: #092536;
$med-sky-blue: #3BB7FF;
$light-sky-blue: #9CDBFF;

// Secondary colors:
$dark-orange: #DC6B1B;
$light-orange: #FF9D58;
