// Specific CSS for your home-page
// * {
//   border: 1px red solid;
// }

h1 {
  font-size: 4rem;
}

h1, h2, h3, h4 {
  text-align: center;
}

.home-header {
  width: 100%;
  height: 720px;
  padding: 20px;
  color: white;
  background-image: asset-url('earthbg.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

}

.home-header-title {
  margin-top: 30px;
}


section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  transform-style: preserve-3d;

}

.home-header-moon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  background-image: asset-url('Moonmap.jpg')  ;
  background-size: cover;
  background-repeat: repeat-x;
  border-radius: 50%;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 1), 0 0 100px #4069ff ;
  animation: animateMoon 120s linear infinite;
}

@keyframes animateMoon {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1024px 0;
  }
}

.home-header-link {
    display: flex;
    width: 250px;
    height: 250px;
    opacity: 0;
    border-radius: 50%;
    background-color:rgba(0, 0, 0, 0.3);
    z-index: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-header-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: 1s;

}

.home-info {
  background: linear-gradient( #092536, #8FC0ED, #092536);
  height: auto;
  margin: 0;
}

.home-info-section {
  padding: 30px;
}

.home-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: auto;
  height: 400px;
  color: white;
  background: linear-gradient( #092536, #000000);
}

.text-shadow {
  text-shadow: 3px 4px 3px #02598B;
}

a {
  text-decoration: none;
}
