<div class="container">
  <div class="row" style="border-bottom: solid">
    <div class="col-4">
      <p><%= item.name %></p>
    </div>
    <div class="col-8 text-end">
      <p><%= item.price %> CHF</p>
    </div>
  </div>
</div>
