<div class= "container">
  <div class="m-3">
    <h2 class="text-shadow" style="font-size: 3rem"> PAIEMENT </h2>
  </div>
  <div class= "col-md-5 mx-auto">
    <div class="card-paiement col-md-12 d-flex flex-column align-items-center">
      <div class="col-12">
        <%= image_tag("cartedepaiement.jpg", class: "card-image") %>
      </div>
      <form class="col-lg-12">
        <div class="form-group">
          <label for="">Numéro de la carte</label>
          <input type="" class="form-control" placeholder="Veuillez entrer le numéro de la carte">
          <small class="form-text text-muted">Vos données restent confidentielles.</small>
        </div>
        <div class="form-group">
          <label for="">Titulaire de la carte</label>
          <input type="" class="form-control" placeholder="Titulaire de la carte">
        </div>
        <div class="form-row d-flex my-2">
          <div class="form-group col-lg-6">
            <label for="">Date d'expiration </label>
            <input type="date" class="form-control" placeholder="Date d'expiration">
          </div>
          <div class="form-group col-lg-6">
            <label for=""> CVV</label>
            <input type="" class="form-control" placeholder="CVV">
          </div>
        </div>
        <button data-controller="sweetalert" data-action="click->sweetalert#validation:prevent" data-sweetalert-id-value="<%= @observation_planning.id %>" class="btn-straight mt-3">Confirmer le paiement!</button>
      </form>
    </div>
  </div>
</div>
