<div class="container-fluid">
  <div class="container mt-4 mb-4">
    <h2 class="text-shadow" style="font-size: 3rem">MES INFORMATIONS</h2>
  </div>

  <div class="container-fluid">
    <div class="checkout-card col-lg-8 mx-auto">
      <div class="d-flex flex-column mb-2 justify-content-between">
          <p><strong>Nom: </strong></p>
          <p> <%= current_user.last_name %></p>
      </div>

      <div class="d-flex flex-column mb-2 justify-content-between">
          <p><strong>Prénom: </strong></p>
          <p> <%= current_user.first_name %></p>
      </div>

      <div class="d-flex flex-column mb-2 ">
          <p><strong>Mail: </strong></p>
          <p> <%= current_user.email %></p>
      </div>

      <div class="d-flex flex-column">
        <p><strong>Adresse: </strong></p>
        <p> <%= "#{current_user.street} #{current_user.zip}  #{current_user.city}" %></p>
      </div>
    </div>
  </div>
</div>
