<div class="mt-5 container">
  <div class="d-flex justify-content-between mb-2">
    <p>Nom:</p>
    <p><%= current_user.last_name %></p>
  </div>
  <div class="d-flex justify-content-between mb-2">
    <p>Prénom:</p>
    <p><%= current_user.first_name %></p>
  </div>
  <div class="d-flex justify-content-between mb-2">
    <p>Mail:</p>
    <p><%= current_user.email %></p>
  </div>
  <div class="d-flex justify-content-between">
    <p>Address:</p>
    <p><%= "#{current_user.street}  #{current_user.zip}  #{current_user.city}" %></p>
  </div>
</div>
