.background {
  background-image: asset-url('star_sky.png'), linear-gradient(#000000, #092536);
  background-blend-mode: revert;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.background-color {
  background: linear-gradient(#000000, #092536);
}

body {
  min-height: 100vh;
  background-image: asset-url('star_sky.png'), linear-gradient(#000000, #092536);
  background-blend-mode: revert;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
}
