.card-booking {
  overflow: hidden;
  background: white;
  box-shadow: 8 8 15px rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  padding: 16px;

}

.card-booking .card-booking-info h6 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;

  p {
    font-size: 14px;
    line-height: 1.4;
    opacity: .8;
    margin-bottom: 0;
    margin-top: 8px;
  }
}
