.btn-straight {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: $dark-orange;
  color: white;
  font-size: 1rem;
  border: none;
  margin: auto;
  text-decoration: none;
  border-radius: 10px;
}

.btn-straight:hover,
.btn-straight:focus {
  color: white;
  background-color: $dark-orange;
  box-shadow: -5px 5px 10px orange;
  transform: translateY(-0.25em);
  transition-timing-function: linear;
  transition-duration: 0.35s;
}
