.card-paiement {
  overflow: hidden;
  background: white;
  box-shadow: 8px 8px 1px gray;
  margin-bottom: 20px;
  padding: 16px;
  color: black;
}

.card-image {
  max-width: 400px;
  margin-left: 56px;
  margin-bottom: 20px;
}
