
.celestial-card {
  scroll-snap-align: center;
  min-width: 250px;
  height: auto;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  gap: 10px;
  margin-right: 8px;
  color: black;

}

.celestial-card-img img {
  border-radius: 8px;

}

.card-title {
  margin-top:4px;
  margin-bottom: 4px;
}

.card-body {
  margin-top: 10px;
  margin-bottom: 10px;
}

.wrapper {
  scroll-snap-type: x mandatory;
  max-height: 400px;
  display:flex;
  overflow-x: scroll;
  margin-left: 10px;
  margin-right: 10px;
}

.wrapper::-webkit-scrollbar {
  width: 0px;
}
