
.celestial-card {
  scroll-snap-align: center;
  min-width: 250px;
  height: auto;
  background: linear-gradient(90deg, #ffffff, #e7e4e4);
  border-radius: 10px;
  padding: 5px;
  gap: 10px;
  margin-right: 8px;
  color: black;

}

.celestial-card-img img {
  border-radius: 8px;

}

.card-title {
  margin-top:4px;
  margin-bottom: 4px;
}

.card-body {
  margin-top: 5px;
  margin-bottom: 5px;
}

.card-text {
  max-height: auto;
  font-size: 0.8rem;
}

.wrapper {
  scroll-snap-type: x mandatory;
  max-height: auto;
  display:flex;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-left: 10px;
  margin-right: 10px;
}

.wrapper::-webkit-scrollbar {
  width: 0px;
}

#more {display: none;}
