.checkout-card {
  background: linear-gradient(90deg, #ffffff, #e7e4e4);
  border-radius:10px;
  box-shadow:8px 8px 12px rgba(170, 170, 170, 0.6);
  padding: 20px;
  margin-bottom: 20px;
  color: black;

  p{
    padding-top: 3px;
    margin: 0px;
  }
}
