.navbar-skyeasy {
  justify-content: space-between;
  background: black;
  color: white;
}

.navbar-skyeasy .navbar-collapse {
  flex-grow: 0;
}

.navbar-skyeasy .navbar-brand img {
  width: 40px;
}

.navbar-toggler {
  border: 0;
  i {
    color: white;
    font-size: 1.45rem;
  }
}

.nav-item {
  font-size: 1rem;
}
