.observation-plan-card {
    overflow: hidden;
    background: white;
    border-radius:10px;
    box-shadow:8px 8px 12px rgba(170, 170, 170, 0.6);
    color: black;
    margin:10px;
    max-height: 170px;

    .image {
      object-fit: cover;
      width: 100%;
      height: 100%;
  }
}

.observation-plan-card .observation-plan-card-infos {
  p {
    font-size: 14px;
    padding: 0px;
    margin: 0px;
  }

  h3 {
    padding-top: 10px;
    font-size:20px  !important;
    padding-left: 12px;
    font-weight: bold;
    margin: 0;
  }

  .btn-straight {
    width: 200px;
    height: 40px;
    font-size:12px
  }

}

.sunmoonimg {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  border-radius: 10px;
}
