.reservation-card {
  overflow: hidden;
  background: linear-gradient(90deg, #ffffff, #e7e4e4);
  border-radius:10px;
  box-shadow:8px 8px 12px rgba(170, 170, 170, 0.6);
  color: black;
  margin:10px;

}
