// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  min-height: 100vh;
  background-image: asset-url('star_sky.png'), linear-gradient(#000000, #092536);
  background-blend-mode: revert;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

}
